---
import "@/styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/s5-logo.png" />
    <link rel="apple-touch-icon" href="/s5-logo.png" />
    <title>s5 Design</title>
  </head>
  <body>
    <slot />
  </body>
</html>
